/* Background */
.background
{
  background-image: url("/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  z-index: -1;
  left: 0;
  top: 0;
  position: absolute;
  filter: blur(20px) brightness(1.2);
  border: 5px solid rgba(182, 240, 124, 0.452);
  box-sizing: border-box;

}

body
{
  background-color: green;
}
 
/* Layout */
header
{
  background-color: rgba(128, 255, 0, 0.452);
  box-sizing: border-box;
  padding:0px 10px;
  border-radius: 10px;
}

header > nav > ul
{
  margin: 0;
  padding: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header > nav > ul > li
{
  padding: 10px;
  text-align: center;
  color: black;
}

header > nav > ul > li > a
{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: clamp(13px, 2vw, 1.5rem);
}

